<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Listas</ion-title>
      <ion-back-button defaultHref="/listas"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Muestra los parámetros recibidos -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Datos recibidos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p><strong>Número de lista:</strong> {{ listaNumero }}</p>
    <p><strong>Programación:</strong> {{ programacion }}</p>
    <p><strong>Categoría:</strong> {{ categoria }}</p>
    <p><strong>Usuario:</strong> {{ usuario }}</p>
  </ion-card-content>
</ion-card>

</ion-content>
